/*
    Author:  Patrick S. Yee
    Description;
*/

/*.about-top{
	margin:0 0 2em;
}
.about-top img{
	float:left;
	margin-right:3%;
}
.about-details{
	width:60%;
	float:left;
}
.about-details h4{
	font-size:1.1em;
	text-transform:uppercase;
	font-weight:500;
	line-height:1.6em;
	margin-bottom:0.5em;
	color:#3c3a3e;
}
.about-details p, .blog-content p{
	font-size:0.875em;
	color:#3c3a3e;
	font-weight:100;
	line-height:1.6em;
	margin-bottom:1em;
}
.about-details a{
	font-size:0.875em;
	text-transform: uppercase;
	font-weight:300;
	background:#ff7105;
	padding:10px 15px;
	color:#fff;
}
.about-details a:hover, .caption a:hover{
	background:#4fbfa8;
}
.fetures{
	position:relative;
	margin:0 0 1em;
}
.fetures img{
	width:100%;
}
.caption{
	position:absolute;
	top:10%;
}
.caption a{
	font-size:0.875em;
	text-transform: uppercase;
	font-weight:300;
	background:#ff7105;
	padding:10px 15px;
	color:#fff;
}*/
