/*
    Author:  Patrick S. Yee
    Description:  This break up is from the Gamez template from W3Layouts and modified to fit my website.
        The class - logo: the width of the image is defined to the size of the window and it is easier to look at.
        Changes:  class name - navigation to navigate.
                  There is no navig class.
                  The path for the nav.png is different from the template.
*/

/* Largest size for the window.  If the window is bigger this is the default. */
@media(max-width:1024px){
	.logo a img {
		width: 65%;
	}
	.navigate {
		width: 76%;
	}
	.header {
		padding: 2em 0 1em;
	}
	.navigate ul li a {
		font-size: 0.875em;
	}
	.navigate ul {
		margin-top: 0px;
	}
	/*.banner {
		min-height: 369px;
	}
	.news-grid-left h4 {
		font-size: 8em;
		margin: -16px 0 -10px;
	}
	.news-grid-right h4 {
		font-size: 1.1em;
	}
	.news-grid-right p {
		font-size: 0.875em;
	}*/
	.view, .view .mask, .view .content {
		width: 235px;
		height: 165px;
	}
	.view-first img {
		width: 100%;
	}
	.about-details {
		width: 52%;
	}
	.about-details h4 {
		font-size: 1em;
	}
	.text input[type="text"]:nth-of-type(3) {
		margin-right: 0;
	}
}
/* The website changes when the window size is 768px and smaller. */
@media(max-width:768px){
    /* the button for the navbar shows up. */
	span.menu{
		width:32px;
		height:32px;
		background:url(../img/nav.png)no-repeat;  /* path of template is different. */
		display: inline-block;
		float:right;
		cursor: pointer;
	}
    /* The background is white and when the collapse portion is called. */
	.navigate{
		width:100%;
		display: none;
		text-align:center;
		background:#fff;
		padding:0.5em 0;
		margin-top:10px;
	}
	.navigate ul{
		float:none;
		width:100%;
	}
	.navigate ul li{
		display:block;
	}
	.navigate ul li a{
		color:#000;
		display: block;
	}
	.header {
		padding: 1em 0 1em;
	}
    /* add page-header */
    h2.page-header {
        margin:2em 0 1em;
    }
	/*.banner {
		min-height: 341px;
	}
	.banner-bot h2 {
		font-size: 3em;
	}
	.banner-bot {
		padding: 2em 0;
	}
	.banner-bot p {
		font-size: 0.875em;
	}
	.banner-bot a {
		font-size: 1.5em;
		padding: 4px 0;
	}
	.gallery h3 {
		font-size: 3em;
	}
	.vid-coll img {
		width: 57%;
	}
	.play-but {
		top: 38%;
		left: 26%;
	}
	.what-new h3 {
		font-size: 3em;
		margin: 0em 0 0.5em;
	}
	.news-grid-left h4 {
		font-size: 3em;
		margin: 0px 0 0px;
	}
	.news-grid-left small {
		font-size: 0.8em;
		padding-left: 0px;
	}
	.news-grid-right p {
		font-size: 0.875em;
		height: 39px;
		overflow: hidden;
	}
	.side-bar {
		display: none;
	}*/
	.main {
		width: 100%;
	}
	.view{
		width: 45%;
		height: 209px
	}
	.view .mask, .view .content{
	 	width: 100%;
		height: 209px;
	}
	.view.view-first:nth-of-type(9) {
		display: none;
	}
	.blog-content {
		width: 100%;
	}
	.blog-sidebar {
		width: 100%;
	}
	.fetures {
		text-align: center;
	}
	.fetures img {
		width: 43%;
	}
	.contact-box {
		width: 100%;
	}
	.address-box {
		width: 100%;
	}
}
@media(max-width:640px){
	.about-top img {
		width: 40%;
	}
	.about-details h4 {
		font-size: 0.8em;
		height: 20px;
		overflow: hidden;
	}
	.about-details p{
		height: 159px!important;
		overflow: hidden;
		font-size: 0.8em;
	}
	 .blog-content p:nth-of-type(3){
	 	display: none;
	 }
	 .blog-content p{
	 	height:90px;
	 	overflow: hidden;
	 }
}
@media(max-width:480px){
	.logo a img {
		width: 37%;
	}
	.header {
		padding: 0.5em 0;
	}
	/*.search-bar {
		width: 55%;
	}
	.banner {
		min-height: 224px;
	}
	.banner-bot h2 {
		font-size: 2em;
	}
	.banner-bot p {
		font-size: 0.85em;
		height: 50px;
		overflow: hidden;
	}
	.banner-bot a {
		font-size: 1.2em;
		padding: 4px 0;
	}
	.banner-bot p:nth-of-type(2) {
		font-size: 0.85em;
		margin-bottom: 0.5em;
	}
	.gallery h3 {
		font-size: 2em;
	}
	#filters li span {
		padding: 6px 10px;
		font-size: 0.8em;
	}
	.portfolio.app.mix_all {
		width: 100%!important;
	}
	.portfolio.icon.mix_all {
		width: 59%!important;
		margin-right: 3%!important;
	}
	.portfolio.card.mix_all {
		width: 37.5%!important;
		margin-right: 0!important;
	}
	.portfolio.logos.mix_all {
		width: 59%!important;
	}
	.video-serch {
		padding: 2em 0;
	}
	.vid-col p {
		font-size: 1em;
	}
	.vid-col p:nth-of-type(2) {
		margin: 1em 0 0;
		height: 69px;
		overflow: hidden;
	}
	.what-new h3 {
		font-size: 2em;
	}*/
	.blog-news-grid {
		padding: 1em;
	}
	/*ul.social li i {
		width: 32px;
		height: 32px;
		background-size: 300%;
	}
	ul.social li i.fb {
		background-position: -32px 0px;
	}
	ul.social li i.fc {
		background-position: -65px 0px;
	}*/
	.footer {
		padding: 0em 0 1em;
	}
	.view , .view .mask, .view .content{
		height: 141px;
	}
	.view-first:hover p {
		display: none;
	}
	.mask h2{
		margin-bottom:1em;
	}
	.blog-post h3, .blog-post h3 a {
		font-size: 1em;
		line-height: 1.6em;
	}
	h2.page-header {
		font-size: 1.2em;
		margin: 0.5em 0 0em;
	}
	.post-details {
		margin: 0.5em 0;
		height: 20px;
	}
	.blog-post h4 {
		height: 20px;
		overflow: hidden;
	}
	.blog-content p:nth-of-type(2){
		display:none;
	}
	.about-details p {
		height: 97px!important;
	}
	.games {
		padding: 1em 0 2em;
	}
	.map iframe {
		height: 157px;
	}
	.text input[type="text"] {
		width: 100%;
		margin-bottom: 3%;
	}
	.text {
		margin: 0em 0 0;
	}
	.text textarea {
		width: 100%;
		height:170px;
	}
	.logo{
		width: 70%;
	}

}
@media(max-width:320px){
	.logo a img {
		width: 44%;
	}
	.logo {
		left: 6%;
	}
	/*.search-bar {
		width: 89%;
	}
	.banner {
		min-height: 160px;
	}
	.banner-bot h2 {
		font-size: 1.5em;
	}
	.gallery h3 {
		font-size: 1.5em;
	}
	.news-grid-left h4 {
		font-size: 2em;
	}
	.news-grid-right h4 {
		font-size: 0.85em;
	}
	.blog-news-grid {
		padding: 1em 0.5em;
	}
	.what-new h3 {
		font-size: 1.5em;
	}
	.what-new {
		padding: 2em 0 1em;
	}
	.view{
		margin:5px;
		border:0px;
	}*/
	.view, .view .mask, .view .content {
		height: 88px;
	}
	.view h2 {
		font-size: 13px;
		padding: 7px;
		margin: 8px 0 7px 0;
	}
	.blog-post h3, .blog-post h3 a {
		font-size: 0.9em;
		height: 21px;
		overflow: hidden;
	}
	.post-details {
		margin: 0.2em 0 1em;
		height: 2px;
	}
}
